.App {
  text-align: center;
}

.results {
  margin-top: 55px;

  border: 3.5px solid #343a40;
  background-color: #e9ecef;
  padding-top: 20px;
}

#result {
  margin-left: 7%;
  margin-top: 10px;
  margin-bottom: 25px;

  font-weight: bold;
}