.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.result {
  border: 2px solid black;
  background-color: lightgrey;
  padding-top: 20px;
}
